.c-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
  }
  
  .c-lista-chiste img {
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }